<h1>Listing thinkers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>URL</th>
    <th></th>
  </tr>

<% @thinkers.each do |thinker| %>
  <tr>
  	<td><%= link_to thinker.name, thinker %></td>
  	<td><%= link_to thinker.url, thinker.url%></td>
    <td><%= link_to 'Edit', edit_thinker_path(thinker) %></td>
	
	
	
    <td></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Thinker', new_thinker_path %>
